<form action="{{ route('karyawan.store') }}" method="POST" class="form-horizontal">
    @csrf
    <div class="row">
        <div class="col-md-6">

            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Karyawan</h3>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label for="nik" class="form-label">NIK</label>
                        <input type="number" class="form-control" id="nik"
                            placeholder="NIK" name="nik"
                            value="{{ old('nik') }}" required>
                        @error('nik')
                            <small>
                                <p class="text-danger">{{ $message }}</p>
                            </small>
                        @enderror
                    </div>

                </div> {{-- card-body --}}
            </div> {{-- card-info --}}
        </div> {{-- col --}}

        <div class="col-sm-6">
            <div class="card card-info">

                <div class="card-header">
                    <h3 class="card-title">Kontak</h3>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label for="nama" class="form-label">Nama
                            Lengkap:</label>
                        <input type="text" class="form-control" id="name"
                            placeholder="Nama Lengkap" name="name"
                            value="{{ old('name') }}" required>
                        @error('name')
                            <small>
                                <p class="text-danger">{{ $message }}</p>
                            </small>
                        @enderror
                    </div>

                    <div class="form-group">
                        <label for="telepon" class="form-label">Nomer
                            Telepon</label>
                        <input type="number" class="form-control" id="telepon"
                            placeholder="No Telepon" name="telepon" required>
                        @error('telepon')
                            <small>
                                <p class="text-danger">{{ $message }}</p>
                            </small>
                        @enderror
                    </div>

                    <div class="form-group">
                        <label for="npwp" class="form-label">Nomer NPWP</label>
                        <input type="text" class="form-control" id="npwp"
                            placeholder="No NPWP" name="npwp" required>
                        @error('npwp')
                            <small>
                                <p class="text-danger">{{ $message }}</p>
                            </small>
                        @enderror
                    </div>


                </div> {{-- card-body --}}
            </div> {{-- card-info --}}
        </div> {{-- col --}}

    </div> {{-- row --}}

    <div class="row">
        <div class="col-md-6">

            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Pendidikan</h3>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label for="institusi" class="form-label">Asal
                            Institusi</label>
                        <input type="text" class="form-control"
                            id="inputInstitusi" placeholder="institusi"
                            name="institusi" required>
                        @error('institusi')
                            <small>{{ $message }}</small>
                        @enderror
                    </div>

                    <div class="form-group">
                        <label for="pendidikan" class="form-label">Pendidikan
                            Terakhir</label>
                        <input type="text" class="form-control"
                            id="inputPendidikan" placeholder="Pendidikan Terakhir"
                            name="pendidikan_terakhir" required>
                    </div>
                </div> {{-- card-body --}}
            </div> {{-- card-info --}}
        </div> {{-- col --}}
    </div> {{-- row --}}

</form>